﻿@model MVC.Models.User

@if(ViewData["failed"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        @ViewData["failed"]
    </div>
}

@using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.DisplayName("Username")
        @Html.TextBoxFor(model => model.username, new { @class="form-control" })
        @Html.ValidationMessageFor(model=>model.username)
    </div>

    <div class="form-group">
        @Html.DisplayName("Password")
        @Html.TextBoxFor(model => model.password, new { type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.password)
    </div>

    <button type="submit" class="btn btn-primary mt-3">Login</button>
}