﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
            </div>

            <div class="navbar-collapse collapse ml-auto">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Customer", "InputCustomer", "Customer", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Employee", "Index", "Employee", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Authentication", "Login", "Authentication", null, new { @class = "navbar-brand" })</li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Logout","Authentication")">Signout</a></li>
                            </ul>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Use HTML.RenderPartial to render partial view-->
        @{
            Html.RenderPartial("~/Views/Shared/_Footer.cshtml");
        }

        <!-- or use this -->
        @*@Html.Partial("~/Views/Shared/_Footer.cshtml")*@
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>