﻿@model MVC.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Update</h2>

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { @class="form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Name")
        @Html.TextBoxFor(model => model.name, new { @class="form-control" })
    </div>

    <div>
        @Html.Label("Dept")
        @Html.TextBoxFor(model => model.dept, new { @class = "form-control" })
    </div>

    <p><button type="submit" class="btn btn-primary">Update</button></p>
}

