﻿@model IEnumerable<MVC.Models.Employee>
@using MVC.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="margin-bottom:20px">@Html.ActionLink("Create", "Create", "Employee", new { @class = "btn btn-primary" })</div>

<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Dept</td>
        <td></td>
    </tr>

    @foreach (Employee employee in Model)
    {
        <tr>
            <td>@employee.ID</td>
            <td>@employee.name</td>
            <td>@employee.dept</td>
            <td>
                @Html.ActionLink("Show", "Show", "Employee", new { id = employee.ID }, null)
                @Html.ActionLink("Edit", "Edit", "Employee", new { id = employee.ID }, null)
                @Html.ActionLink("Delete", "Delete", "Employee", new { id = employee.ID }, new { onclick = "return confirm('Are you sure')" })
            </td>
        </tr>
    }
</table>