﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Exercise36SlideBasicWebControl.aspx.cs" Inherits="Controls.Exercise36SlideBasicWebControl" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Table ID="Table1" runat="server"></asp:Table>
        </div>
    </form>
</body>
</html>
