﻿@{ 
    Layout = "~/Views/Shared/_AnotherLayout.cshtml";
}

@section tips
{
    <p>Tips from another layouts page. This sections will push to RenderSection("tips") of layout (master) page</p>
}


<p>Using a different layout for testing layout</p>