﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Exercise55Result.aspx.cs" Inherits="WebForm.Exercise55Result" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <label>Thanks for registration</label><asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
&nbsp;</form>
</body>
</html>
