﻿@model MVC.Models.Customer

@{
    ViewBag.Title = "DisplayCustomer";
}

<h2>DisplayCustomer</h2>

<div>
    <p>Name: @Model.Name</p>
    <p>Code: @Model.Code</p>
    <p>Amount: @Model.Amount</p>
</div>
