﻿@model MVC.Models.CustomerDiscount
   
@{
    ViewBag.Title = "DisplayDataDynamic";
}

<h2>DisplayDataDynamic</h2>

<div>
    <p>Name: @Model.Name</p>
    <p>Code: @Model.Code</p>
    <p>Amount: @Model.Amount</p>
    <p>Discount: @Model.Discount</p>
</div>
